.nav-link:hover{
color: black;
background-color: rgb(143, 143, 204);
/* border: 2px solid whitesmoke;
border-radius: 10px; */
font-size: large;
}

.container img{
    display: flex;
    height: 200px;
    width: 400px;
    margin: auto;
}
